/* BEGIN Regular */
@font-face {
	font-family: 'IRANsans';
	src: url('../font/IRANsans/IRANsans.ttf') format('truetype'),
		 url('../font/IRANsans/IRANsans.woff') format('woff'),
		 url('../font/IRANsans/IRANsans.eot') format('eot');
	font-weight: normal;
	font-style: normal;
}
/* END Regular */

@tailwind base;
@tailwind components;
@tailwind utilities;